@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-slate-950 text-slate-400;
  }
}

@layer utilities {
  .nav-indicator {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .nav-text {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
}